<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PackedFileSearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZipFileSearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PackedFileSearcher.Properties.Settings>
            <setting name="UseWholePathForFileNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchInDirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecursiveArchiveDepth" serializeAs="String">
                <value>0</value>
            </setting>
        </PackedFileSearcher.Properties.Settings>
        <ZipFileSearcher.Properties.Settings>
            <setting name="UseWholePathForFileNames" serializeAs="String">
                <value>True</value>
            </setting>
        </ZipFileSearcher.Properties.Settings>
    </userSettings>
</configuration>